#skills {
  font-size: 16px;
  min-height: 60vh;
}


.skills-section {
  margin: 3em 2em;
  margin-top: 4em;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-section > div {
  width: 35vw;
  min-height: 30vh;
  background-color: var(--secondary);
  border-radius: 2rem;
  padding: 3em;
  transition: var(--transition);
  transform: scale(0.95);
}

.skills-section > div:hover{

  border: 1px solid var(--primary);
  transform: scale(1.01);
  background-color: transparent;
}




.skills-section > div > h3 {
  font-size: 1.6em;
  color: var(--accent);
  margin-bottom: 1em;
  position: relative;
}

.skills-section > div > h3::after {
  content: "";
  width: 85%;
  height: 1px;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  bottom: 0;
  /* transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out; */
}
/* 
.skills-section>div>h3:hover::after{

    transform: scaleX(1);
    transform-origin: bottom left;

} */

.skills {
  width: 20em;
  /* background-color: var(--secondary); */
  margin: 1em 1em;
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent);
}

.skills h3 {
  text-transform: uppercase;
}



.my-services details {
  width: 80%;
  margin: 0.5em 1em;
  margin-bottom: 1.5em;

  cursor: pointer;
  border-bottom: 1px solid var(--primary);
}

.my-services details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-services details h3 {
  font-size: 1.2em;
  text-transform: capitalize;

}

.my-services details p {
  margin: 1em 0;
  color: var(--primary);
}



@media (max-width : 1024px) {

    .skills-section{
      margin: 0;
    }
    .skills{
      margin: 1em 2em;
    }
    .skills-section>div{
      width: fit-content;
      margin-top: 3em;
      margin-left: 2em;
    }
    
   
    .my-services details{
      width: 90%;
    }
}



@media (max-width : 600px) {

  #skills{
    font-size: 10px;
    margin: 4em 0;
  }
 
  .skills-section>div{
    margin-left: 0;
  }

}