#project {
  font-size: 16px;
  min-height: 60vh;
}

.project-box {
  width: 100%;
  margin: 5rem 0;
  min-height: 40vh;
  position: relative;
}

.project-box-container {
  width: 50vw;
  min-height: 27.5em;
  border-radius: 2em;

  margin: 0 auto;
  position: relative;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.project-webpage {
  width: 100%;
  height: 100%;

  background-color: var(--secondary);
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.2em;
  transition: var(--transition);

  display: flex;
  justify-content: space-between;
}

#next,
#prev {
  margin: 1em;
  transform: scale(3.6);
  cursor: pointer;
  color: var(--accent);

}

#next {
  position: absolute;
  top: 10em;
  right: 9em;
}

#prev {
  position: absolute;
  top: 10em;
  left: 9em;
}

.project-webpage-data {
  padding: 4em 1em;
  margin-right: 1em;
  width: 40em;
}

.project-webpage-data h3 {
  font-size: 1.6em;
  border-bottom: 1px solid white;
}
.project-webpage-data p {
  margin: 1.5em 0;
  font-size: 0.9em;
  color: var(--accent);
  word-spacing: 0.1em;
}
.project-webpage-data a {
  color: var(--text);
  font-size: 1.2em;
  margin-bottom: 1em;
  position: relative;
}
.project-webpage-data a::after {

    content: '';
    width: 120%;
    height: 1px;

    position: absolute;
    bottom: -3px;
    left: 0;
    background: var(--text);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease;
}
.project-webpage-data a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.project-webpage-img {
  width: 50em;
  height: 25em;
  border-radius: 2em;
  overflow: hidden;
}

.project-webpage-img img {
    width: 100%;
  height: 100%;
  transform: scale(0.95);
  border-radius: 2em;
  opacity: 0.8;
  transition: var(--transition);
}

.project-webpage-img:hover img {
    
  transform: scale(1);
  opacity: 1;
}







@media (max-width: 1024px) {
  .project-box {
    margin: 3em 0;
    margin-bottom: 5em;

  }

  .project-box-container {
    width: 30em;
    height: 43em;
  }
  .project-webpage {
    flex-wrap: wrap;

  }
  .project-webpage-data {
    padding: 1em 1em;
  }
  .project-webpage-img {
    padding: 1em;
    border-radius: 2em;
    overflow: hidden;
  }
  .project-webpage-img img {
    height: 100%;
  }
  #next,
  #prev {
    position: absolute;
    top: 102%;
    transform: scale(2);

  }

  #next{
    right : 41%;

  }

  #prev{
    left : 41%;

  }
}

@media (max-width: 600px) {
  #project {
    font-size: 12px;
  }
  .project-box{
    margin-bottom: 7em;
  }
  .project-box-container {
    width: 80vw;
    height: 45em;
  }
  #prev{
    left: 39%;
  }
  #next{
    right: 39%;
  }
  
}
