
 


*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: var(--font-family);
}

html{
  scroll-behavior: smooth;
}


body{
  width: 100%;
  background: var(--background);
  color: var(--text);
}

::-webkit-scrollbar{
  display: none;
}

a{
  color: unset;
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

.loaderpage{
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
}

.loaderpage img{
  width: 13em;
  height: 16em;
}
.loaderpage h4{
  font-size: 1.2em;
  text-transform: capitalize;
  color: var(--text);
}
.loaderpage h2{
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Sedgwick Ave Display', cursive;
  text-decoration: underline; 
   margin-top: 2em;


}




/* //////////////// simple styles /////// */


h1,h2,h3,h4,h5{
  font-weight: 500;
}

h1{
  font-size: 3.4em;
  font-weight: bold;
  text-transform: capitalize;
  
}

section{

  padding: 4rem 8rem 0rem 12rem ;


}

section>h2 , section>h5{
  font-size: 1rem;
  text-align: left;
  text-transform: capitalize;
  color : var(--accent);
}



section>h2{
  font-size: 2.5rem;
  color: var(--text);
  position: relative;
  margin-top: 0.4rem;
  font-family: 'Sedgwick Ave Display', cursive;

}

section>h2::after{
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--text);
  position: absolute;
  left: 0;
  bottom: 0;

}


.btn{

  width: fit-content;
  color: var(--primary);
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--primary);
  border-radius: 0.4rem;
  padding: 0.8rem 1.2rem ;
  transition: var(--transition);

}

.btn:hover{
  color: var(--secondary);
  background-color: var(--text);
  border-color: transparent;
  box-shadow: 0 0 16px 2px white;
}





/* ///////////// media query for medium ///////////// */

@media (max-width: 1024px) {

  
    .container{
      width: var(--container-width-md);
    }
    section{
      padding: 4rem 8rem 1rem 8rem;
    }

    .btn{
      transform: scale(0.95);
    }

    
}





/* ///////////// media query for small ///////////// */

@media (max-width: 600px) {
    
    .container{
      width: var(--container-width-sm);
    }
    section{
      padding: 0 2rem;
      padding-bottom: 2rem;
      
    }

    section>h2{
      font-size: 2rem;
    }
    section>h5{
      font-size: 0.9rem;
    }

    .loaderpage img{
      width: 9.5em ;
      height: 12em;
    }
    .loaderpage h2{
      font-size: 1.3em;
    }
    .loaderpage h4{
      font-size: 0.9em;
    }
    
}